@page "/dropdownmenu"

<h2 class="font-bold text-lg">Pure tailwind solution</h2>
<div class="group relative inline-block">
    <button type="button" class="border-neutral-600 border px-1 rounded-md">...</button>

    <div class="absolute z-10 left-0 top-10 flex min-w-max flex-col rounded-md border border-neutral-500 bg-neutral-100 px-2 py-1
              invisible group-focus-within:visible group-active:visible">
        <div class="cursor-pointer hover:underline">Do amazing stuff</div>
        <div class="cursor-pointer hover:underline"> Go back</div>
    </div>
</div>

<h2 class="font-bold text-lg">Blazor solution (with second button click to hide menu)</h2>

<div class="group relative inline-block"
     @onfocusout="()=> alreadyClicked=false">
    <button type="button" class="border-neutral-600 border px-1 rounded-md"
            @onclick="@(()=>{ if(alreadyClicked==true) alreadyClicked=isVisible=false;else alreadyClicked=isVisible=true;})">
        ...
    </button>

    <div class="absolute z-10 left-0 top-10 flex min-w-max flex-col rounded-md border border-neutral-500 bg-neutral-100 px-2 py-1
              invisible  @(isVisible?" group-focus-within:visible group-active:visible":"")">
        <div class="cursor-pointer hover:underline">Do amazing stuff</div>
        <div class="cursor-pointer hover:underline"> Go back</div>
    </div>
</div>


<h2 class="font-bold text-lg">Component - basic usage</h2>

<DropdownMenu>
    <div class="cursor-pointer hover:underline">Do amazing stuff</div>
    <div class="cursor-pointer hover:underline"> Go back</div>
</DropdownMenu>

<h2 class="font-bold text-lg">Component - with customization</h2>

<DropdownMenu CssButton="px-3 py-2 font-bold bg-teal-500 rounded-xl"
              CssItemsCointainer="top-12  right-0 flex min-w-max flex-col   bg-teal-200 px-2 py-1 animate-pulse">
    <ButtonContent>
        Click me, to reveal more options 🔨
    </ButtonContent>
    
    <ChildContent>
    <div class="cursor-pointer hover:underline">Do amazing stuff</div>
    <div class="cursor-pointer hover:underline"> Go back</div>
    </ChildContent>
</DropdownMenu>



@code
{
    private bool isVisible;
    private bool alreadyClicked;
}

