@page "/"

<PageTitle>Blazor and Tailwind</PageTitle>


<div class="text-neutral-200 font-semibold h-screen flex items-center justify-center">
    <div class="max-w-sm text-balance text-justify">
        Welcome to this demonstration site showcasing the powerful combination of Blazor and Tailwind CSS. 
        This project is designed to illustrate how seamlessly Blazor can be integrated with Tailwind CSS, offering a modern and efficient approach to web development.
   <br/>
   <br/>
       Check the <a href="https://github.com/tesar-tech/BlazorAndTailwind" class="underline">GitHub repo</a>  for more information. </div>
</div>
