<div class="group relative inline-block"
     @onfocusout="()=> alreadyClicked=false">
    <button type="button" class="@CssButton"
            @onclick="@(()=>{ if(alreadyClicked==true) alreadyClicked=isVisible=false;else alreadyClicked=isVisible=true;})">
        @if (ButtonContent == null)
        {
            <text>...</text>
        }else
        {
            @ButtonContent
        }
    </button>

    <div class="absolute z-10 @CssItemsCointainer
              invisible  @(isVisible?" group-focus-within:visible group-active:visible":"")">
        @if (ChildContent != null)
        {
            @ChildContent
        }
    </div>
</div>

@code
{ 
    private bool isVisible;
    private bool alreadyClicked;
    [Parameter] public RenderFragment? ButtonContent { get; set; }
    [Parameter,EditorRequired] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string CssButton { get; set; } = "border-neutral-600 border px-1 rounded-md bg-red-500";
    [Parameter] public string CssItemsCointainer { get; set; } = "left-0 top-10 flex min-w-max flex-col rounded-md border border-neutral-500 bg-neutral-100 px-2 py-1";

}