<div class=" pl-8 flex items-center justify-between px-6 py-3 bg-gray-800">
    <a class="text-lg font-semibold text-white" href="">Blazor And Tailwind</a>
    <button title="Navigation menu" class="cursor-pointer md:hidden" @onclick="()=> isMenuVisible= !isMenuVisible">
        <svg class="block h-6 w-6 fill-current text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
    </button>
</div>

<div class="@(isMenuVisible?"":"hidden sm:block")">
    <nav class="flex flex-col">
        <NavLink class="px-8 py-2 text-gray-100 hover:text-blue-700" href="" Match="NavLinkMatch.All">
            🏠 Home
        </NavLink>
        <NavLink class="px-8 py-2 text-gray-100 hover:text-blue-700" href="dropdownmenu">
            📝 Dropdown menu
        </NavLink>
        <NavLink class="px-8 py-2 text-gray-100 hover:text-blue-700" href="sizeinterop">
            📝 Size Interop
        </NavLink>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    bool isMenuVisible;
}

